.wrapper {
	display: flex;
	justify-content: space-between;

	padding: 28px 40px;
	background-color: #141416;
	margin: 96px 126px;

	margin-inline: auto;
	width: 88%;
	max-width: 1256px;

	border-radius: 32px;

	> div {
		color: white;
		text-align: left;
		display: flex;
		flex-direction: column;
		gap: 12px;
		justify-content: space-between;
		align-items: start;

		h1 {
			line-height: 1;
			font-weight: 500;
			font-size: 46px;
			margin-bottom: 12px;
		}

		.greyText {
			font-size: 22px;
			color: grey;
		}

		.buttons {
			display: flex;
			gap: 16px;

			margin-top: 16px;
			.explore,
			.sell {
				border: 2px solid white;
				font-size: 20px;
				border-radius: 12px;

				padding: 20px;
				padding-inline: 28px;
				background-color: white;
			}

			.sell {
				background-color: #141416;
				color: white;
				transition-property: all;

				&:hover {
					border: 2px solid rgb(211, 211, 211);
					background-color: #3b3b3be3;
				}
			}

			.explore {
				transition-property: all;

				&:hover {
					border: 2px solid rgb(176, 176, 176);
					background-color: #d9d9d9e3;
				}
			}
		}
	}
	@media (max-width: 1100px) {
		height: 240px;
		img {
			height: 100%;
		}
		> div {
			gap: 14px;
			h1 {
				font-size: 34px;
			}
			.greyText {
				font-size: 20px;
				color: grey;
			}
			.buttons {
				.explore,
				.sell {
					font-weight: 500;
					font-size: 12px;
					border-radius: 12px;

					padding: 20px;
					padding-inline: 28px;
				}
			}
		}
	}
	@media (max-width: 830px) {
		> div {
			gap: 14px;
			h1 {
				font-size: 28px;
			}
			.greyText {
				font-size: 16px;
				color: grey;
			}
			.buttons {
				.explore,
				.sell {
					font-weight: 500;
					font-size: 12px;
					border-radius: 12px;

					padding: 14px;
					padding-inline: 22px;
				}
			}
		}
	}
	@media (max-width: 730px) {
		padding: 28px 20px;
		> div {
			gap: 12px;
			h1 {
				font-size: 24px;
			}
			.greyText {
				font-size: 16px;
				color: grey;
			}
			.buttons {
				gap: 6px;
				.explore,
				.sell {
					font-weight: 500;
					font-size: 12px;
					border-radius: 12px;

					padding: 10px;
					padding-inline: 16px;
				}
			}
		}
	}

	@media (max-width: 640px) {
		padding: 20px 28px;
		margin: 64px 38px;
		margin-bottom: 284px;

		align-items: start;
		justify-content: center;
		position: relative;
		height: 300px;

		> div {
			align-items: center;
			text-align: center;
			justify-content: center;
			gap: 8px;

			h1 {
				line-height: 1;
				font-weight: 500;
				font-size: 32px;
			}
			.greyText {
				font-size: 18px;
				color: grey;
			}

			.buttons {
				.explore,
				.sell {
					font-weight: 500;
					font-size: 14px;
					border-radius: 12px;

					padding: 12px;
					padding-inline: 16px;
				}
			}
		}

		img {
			position: absolute;
			top: 250px;
			width: 75%;
			max-width: 340px;
			height: 180px;
		}
	}

	@media (min-width: 2200px) {
		margin-block: 152px;
		margin-top: 212px;
		scale: 1.2;
	}

	@media (min-width: 3000px) {
		margin-block: 176px;
		margin-top: 254px;
		scale: 1.4;
	}

	@media (min-width: 3500px) {
		margin-block: 200px;
		margin-top: 272px;
		scale: 1.6;
	}
}
