.wrapper {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding-inline: 96px;
	padding-block: 64px;
	font-weight: 600;
	font-size: 20px;

	background-color: #141416;
	color: #818181;

	.block {
		gap: 36px;
		width: 100%;
		max-width: 1256px;
		display: flex;
		flex-direction: column;

		img {
			width: 50px;
		}

		.topBlock {
			display: flex;
			justify-content: space-between;
			width: 100%;

			.nameBlock {
				display: flex;
				align-items: center;
				gap: 10px;
				font-weight: 600;
				font-size: 26px;
				color: white;
			}

			.linkBlock {
				align-items: center;
				display: flex;
				gap: 46px;

				a {
					cursor: pointer;
					transition: color 0.25s;

					&:hover {
						color: #b2b2b2;
					}
				}
			}
		}

		.line {
			width: 100%;
			height: 1px;
			border-radius: 100%;
			opacity: 25%;
			background-color: #818181;
		}

		.bottomBlock {
			display: flex;
			justify-content: space-between;

			> div {
				display: flex;
				gap: 32px;
			}

			.socials {
				img {
					width: 20px;
					height: 20px;

					cursor: pointer;
					transition: opacity 0.25s;

					&:hover {
						opacity: 0.6;
					}
				}
			}
		}
	}

	@media (min-width: 2200px) {
		scale: 1.2;
	}

	@media (min-width: 3000px) {
		scale: 1.4;
	}

	@media (min-width: 3500px) {
		scale: 1.6;
	}
}
